.footeringreso{
    text-align: center;
    margin-top: 3.5%;
    padding-bottom: 69px;
}

.linkfooteringreso{
    text-decoration: underline;
    font-size: 110%;
    color: blue;
}

.textofooteringreso{
    font-size: 120%;
    font-weight: 700;
}

.fondoportal{
    background-image: url('../CSS/edificios.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 877px;
}

.capacontainer{
    background-color: rgba(255, 255, 255, 0.521);
}